<!DOCTYPE html>
<html>
<head>
    <title>Hospital Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Hospital Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/hospitals">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="/hospitals{hospitalId}/departments(hospitalId=${hospital.id}})">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctors">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patients">Patients</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Hospital Website</h1>
        <p class="lead">This is a website that allows you to access information on our departments, doctors,
            appointments, and patients.</p>
        <hr class="my-4">
        <p>Use the navigation menu to browse through our system.</p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h2>Departments</h2>
            <p>Our hospital has the following departments:</p>
            <ul class="list-group">
                <li class="list-group-item">Cardiology</li>
                <li class="list-group-item">Dermatology</li>
                <li class="list-group-item">Endocrinology</li>
                <li class="list-group-item">Gastroenterology</li>
                <li class="list-group-item">Hematology</li>
                <li class="list-group-item">Neurology</li>
                <li class="list-group-item">Obstetrics and Gynecology</li>
                <li class="list-group-item">Oncology</li>
                <li class="list-group-item">Ophthalmology</li>
                <li class="list-group-item">Orthopedics</li>
                <li class="list-group-item">Otolaryngology</li>
                <li class="list-group-item">Pediatrics</li>
                <li class="list-group-item">Psychiatry</li>
                <li class="list-group-item">Radiology</li>
            </ul>
        </div>
    </div>
</div>
